/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.product-container {
    background-color: #fff;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-carousel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.product {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.product h2 {
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
}

.btn:hover {
    background-color: #555;
}

.similar-products-container {
    background-color: #fff;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.similar-products-carousel {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}

.similar-product {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.similar-product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.similar-product p {
    font-size: 16px;
}

.similar-product img {
    max-width: 100%;
    height: auto;
}
.btn-inc {
    padding: 10px 20px;
    font-size: 1.4em;
    border-radius: 5px;
}
.btn-inc:nth-child(odd) {
    background-color: #333;
    color: #fff;
    font-weight: bolder;
}
